body{
    background-color: violet;
}

#content{
    text-align: center;
    margin: 0;
    padding: 0;
}

.image{
    margin: 25px;
}

.text{
    color: aliceblue;
    font-style: italic;
    text-shadow: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}